 <!DOCTYPE html>
<html>
<head>
  <title>Restaurant</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href='http://fonts.googleapis.com/css?family=Droid+Sans|Droid+Serif:400,700' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="styles/vendor/normalize.css">
  <link rel="stylesheet" href="styles/main.css">
</head>
<body>
  <div class="container">
    <header>
      <div class="logo">
        <img src="images/foxtail_sm.png">
      </div>
    </header>
      <nav>
        <ul>
          <li id="home">Home</li>
          <li id="menu" class="navigation">Menu</li>
          <li id="reservation">Reservations</li>
          <li id="gallery">Gallery</li>
        </ul>
    </nav>
    <div class="content">
    <div class="jumbotron">

    </div>
      <!-- Home content below -->
      <section class="home show">
        <article>
          <p>Bacon ipsum dolor amet ham tongue ground round cupim pastrami t-bone pork belly turducken flank pork loin pork chop sirloin tail swine. Jowl t-bone beef ribs, leberkas turkey ham biltong tenderloin ground round venison ribeye boudin frankfurter ham hock. Bresaola meatloaf pork chop, andouille bacon frankfurter turkey ball tip venison short ribs cow. Pork chop turkey pig pork. Swine sausage flank turkey tenderloin kevin pork belly short ribs beef ribs salami porchetta shoulder. Sausage filet mignon drumstick flank. Pork loin leberkas beef, pork chop landjaeger ham hock sirloin jowl picanha short loin fatback turducken.
          </p>
          <p>Bresaola chicken flank, jerky frankfurter turkey pork loin ribeye rump kielbasa jowl picanha. Beef frankfurter chuck drumstick. Ham beef alcatra, meatball landjaeger turkey pancetta. Turducken kielbasa pork chop, t-bone pork loin pork short loin pork belly tenderloin flank meatball ball tip. Biltong turducken beef, shank filet mignon spare ribs short ribs. T-bone ground round spare ribs, swine andouille pork belly porchetta chuck tail.
          </p>
          <p>Tenderloin venison chicken, pork loin shank meatball sirloin tail kevin ground round pig tongue beef pork belly. T-bone capicola doner, fatback chicken alcatra ribeye. Spare ribs drumstick picanha cupim, turkey brisket ball tip pork loin short loin pig swine meatball bresaola andouille. Pork chop jowl short ribs hamburger. Prosciutto andouille shank sirloin corned beef t-bone pig bacon ball tip.</p>
        </article>
      </section>
      <!-- Menu content below -->
      <section class="menu">

      <h2>Appetizers</h2>
        <ul class="appetizers">

        </ul>

      <h2>Entrees</h2>
        <ul class="entrees">

        </ul>

      <h2>Sides a la carte</h2>
        <ul class="sides">

        </ul>

      </section>
      <!-- Reservation content below -->
      <section class="reservations">

      </section>
      <!-- Gallery content here -->

      <section class="gallery">

        <ul class="gallerypics">

          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
          tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
          quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
          consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
          cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
          proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        </ul>

        <div class="reviews">
      
        </div>

      </section>
    </div>

    <!-- Blog, Map and Daily special below -->

    <div class="bottom">
      <ul class="left">

      </ul>
      <ul class="center">
      </ul>
      <ul class="right">

          <li><iframe width="425" height="425" frameborder="0" text-align="center"
          src="https://www.google.com/maps/embed/v1/place?key=AIzaSyBHA3AqSpTiP77yE2RIz-yo6zh35rl8J3w&q=Foxtail Restaraunt Group,Atlanta+GA"></iframe></li>

        </ul>

      </div>
     </div>

     <!-- Footer begins here -->

    <footer>
    <div class="footleft">
      <ul class="foxtail">

        <li><a href="#"><img src="images/foxtail_sm.png"></a></li>
        <li>&#xA9; 2015 The Fox Tail</li>
        <!-- <li>Fox by Anna Wojtowicz from the Noun Project.</li> -->

      </ul>
    </div>

    <div class="footmiddle">
      <h3>contact</h3>
      <ul class="getintouch">

        <li><a href="#">contact@thefoxtail.co</a></li>

        <li><a href="#">management@thefoxtail.co</a></li>

        <li>555-555-1234</li>

        <li>123 Mainstreet, NY, NY 12345</li>

      </ul>
    </div>

    <div class="footright">
      <h3>social</h3>

      <p>

      <span><a href="#"><img src="images/facebook.png"></a></span>

      <span><a href="#"><img src="images/twitter.png"></a></span>

      <span> <a href="#"><img src="images/instagram.png"></a></span>

      </p>
    </div>
    </footer>
  </div>

<!-- Underscore Templates -->

<!-- menu templates -->

  <script type="text/template" id="appTemplate">
    <li>
      <h3><%= item %></h3>
      <p><%= description %></p>
    </li>
  </script>

  <script type="text/template" id="entreeTemplate">
    <li>
      <h3><%= item %></h3>
      <p><%= description %></p>
    </li>
  </script>


  <script type="text/template" id="sidesTemplate">
    <li>
      <h3><%= item %></h3>
      <p><%= description %></p>
    </li>
  </script>

<!-- latest news template -->

  <script type="text/template" id="latestNews">
    <h3>Latest News</h3>
    <h4><%= title %></h4>
    <article>
      <p><%= post %></p>
    </article>
  </script>
            
<!-- today's special template -->

  <script type="text/template" id="todaySpecial">
    <h3>Todays Special</h3>
  </script>


<!-- Scripts -->

    <script src="scripts/vendor/underscore.min.js"></script>
    <script src="scripts/vendor/jquery.min.js"></script>
    <script src="scripts/disqus.js"></script>
    <script src="scripts/main.js"></script>
</body>
</html>
