<!DOCTYPE html>
<html>
<head>
  <title>Restaurant</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="styles/vendor/normalize.css">
  <link rel="stylesheet" href="styles/main.css">
</head>
<body>
  <div class="container">
    <header>
      <div class="logo">
        <img src="images/foxtail_sm.png">
      </div>
    </header>
      <nav>
        <ul>
          <li id="home">Home</li>
          <li id="menu" class="navigation">Menu</li>
          <li id="reservation">Reservations</li>
          <li id="gallery">Gallery</li>
        </ul>
    </nav>
    <div class="content">
    <div class="jumbotron">

    </div>
      <!-- Home content below -->
      <section class="home show">
        <article>
          <p>Bacon ipsum dolor amet ham tongue ground round cupim pastrami t-bone pork belly turducken flank pork loin pork chop sirloin tail swine. Jowl t-bone beef ribs, leberkas turkey ham biltong tenderloin ground round venison ribeye boudin frankfurter ham hock. Bresaola meatloaf pork chop, andouille bacon frankfurter turkey ball tip venison short ribs cow. Pork chop turkey pig pork. Swine sausage flank turkey tenderloin kevin pork belly short ribs beef ribs salami porchetta shoulder. Sausage filet mignon drumstick flank. Pork loin leberkas beef, pork chop landjaeger ham hock sirloin jowl picanha short loin fatback turducken.
          </p>
          <p>Bresaola chicken flank, jerky frankfurter turkey pork loin ribeye rump kielbasa jowl picanha. Beef frankfurter chuck drumstick. Ham beef alcatra, meatball landjaeger turkey pancetta. Turducken kielbasa pork chop, t-bone pork loin pork short loin pork belly tenderloin flank meatball ball tip. Biltong turducken beef, shank filet mignon spare ribs short ribs. T-bone ground round spare ribs, swine andouille pork belly porchetta chuck tail.
          </p>
          <p>Tenderloin venison chicken, pork loin shank meatball sirloin tail kevin ground round pig tongue beef pork belly. T-bone capicola doner, fatback chicken alcatra ribeye. Spare ribs drumstick picanha cupim, turkey brisket ball tip pork loin short loin pig swine meatball bresaola andouille. Pork chop jowl short ribs hamburger. Prosciutto andouille shank sirloin corned beef t-bone pig bacon ball tip.</p>
        </article>
      </section>
      <!-- Menu content below -->
      <section class="menu">

      <h2>Appetizers</h2>
        <ul class="appetizers">

        </ul>

      <h2>Entrees</h2>
        <ul class="entrees">

        </ul>

      <h2>Sides a la carte</h2>
        <ul class="sides">

        </ul>

      </section>
      <!-- Reservation content below -->
      <section class="reservations">

      </section>
      <!-- Gallery content here -->
      <section class="gallery">

      </section>
    </div>

    <!-- Blog, Map and Daily special below -->

    <div class="bottom">
      <div class="left">
      </div>
      <div class="center">
      </div>
      <div class="right">
      </div>
     </div>

     <!-- Footer begins here -->

    <footer>


    <!-- credit fox art -->
    <p>Fox by Christy Presler from the Noun Project</p> <!-- 2 color fox -->
    <p>Origami Fox by Kelig Le Luron from the Noun Project</p> <!-- Origami fox -->
    <p>Fox by Anna Wojtowicz from the Noun Project</p> <!-- Line art fox -->
    <p>Sleeping Fox by Richard Slater from the Noun Project</p> <!-- Sleeping line art -->
    <p>Fox by Laura Olivares from the Noun Project</p> <!-- Fox face -->
    <p>Fox Tail by Lucid Formation from the Noun Project</p> <!-- fox tail -->
    </footer>
  </div>

<!-- Underscore Templates -->

<!-- menu templates -->

  <script type="text/template" id="appTemplate">
    <li>
      <h3><%= item %></h2>
      <h4><%= description %></h3>
    </li>
  </script>

  <script type="text/template" id="entreeTemplate">
    <li>
      <h3><%= item %></h2>
      <h4><%= description %></h3>
    </li>
  </script>


  <script type="text/template" id="sidesTemplate">
    <li>
      <h3><%= item %></h2>
      <h4><%= description %></h3>
    </li>
  </script>

<!-- latest news template -->

  <script type="text/template" id="latestNews">
    <h3>Latest News</h3>
    <h4><%= title %></h4>
    <article>
      <p><%= post %></p>
    </article>
  </script>

<!-- today's special template -->

  <script type="text/template" id="todaySpecial">
    <h3>Todays Special</h3>
  </script>


<!-- Scripts -->

    <script src="scripts/vendor/underscore.min.js"></script>
    <script src="scripts/vendor/jquery.min.js"></script>
    <script src="scripts/main.js"></script>
</body>
</html>
