@import "vendor/bourbon/bourbon";
@import "vendor/neat/neat";

// Color Variables
$slate: #566573;
$latte: #D9C5A0;
$java: #BFAD8A;
$cream: #F2EAE4;
$mocha: #F2EAE4;
$baby: #CAE9F1;

$contentFont:'Droid Serif', serif;
$navFont: 'Droid Sans', sans-serif;

@mixin fontStyle($family, $serif, $size, $color, $weight) {font-family: $family, $serif; font-size: $size; font-color: $color; font-weight: $weight;};


/* Global Styles
================ */
* {
  border-sizing: border-box;
  list-style: none;
}

body {
  @include outer-container(100%);
  max-width: 1438px;
  font-size: 62.5%;
  font-family: $contentFont;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.container {
  width: 100%;
  margin: auto;
}

/* Header styles will start here
================================ */
header {
  height: 300px;
  width: 100%;
  background-image: url('../images/header-back.png');

  .logo {
    height: 200px;
    padding-top: 60px;
    text-align: center;
  }

  img {
    height: 100%;
    }

}

/* Nav styles
============= */
nav {
  width: 100%;

  ul {
    @include fontStyle($navFont, sans-serif, 1.8em, black, 400);
    margin: 10px 0;
    text-align: center;
    padding-left: 0;

    li {
      display: inline-block;
      margin-right: 20px;

    }
    li:hover {
      cursor: pointer;
    }
  }
}

/* Tabs and Jumbotron
============= */

.jumbotron {
  height: 500px;
  width:100%;
  overflow:hidden;
  background-image: url('http://placehold.it/1438x500');
}

/* Content section styles
============= */

section {
  width: 0%;
  height: 0;
  margin-left: auto;
  margin-right: auto;
  visibility: hidden;
  font-family: $contentFont;
  font-weight: normal;
}

/* Content Styles
================= */

.show {
  visibility: visible;
  transition: 1s all ease;
  width: 80%;
  height: 100%;
}

section {

  h2 {
    font-size: 2em;
  }

  h3 {
    font-size: 1.8em;
  }

  p {
      @include fontStyle($contentFont, serif, 1.8em, black, 400);
  }

}


/* Bottom of page styles
============= */

.bottom {


 ul {
    @include span-columns(4);
    height: 325px;
    overflow: auto;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
  }

  .left {
    font-size: 16px;
    text-align: center;
  }

  .center {
    overflow:hidden;
    font-size: 14px;
    text-align: center;

  }

  .right {
    overflow:hidden;
    font-size: 14px;
    text-align: center;

  }

}


/* Footer styles
============= */

footer {
  // background-color: $latte;
  clear: both;
  height: 190px;
  border: 1px solid black;
  margin-top:25%;

    div {
      margin-top:30px;
      padding:0;
      @include span-columns(3);
      @include omega(4n);
    }

  ul {
    margin-left:20px;
    padding:0;
    line-height:20px;
  }
}


.footleft {
  text-align:center;

    ul {
      margin:0;
       padding:0;
    }

    img {
      width: 150px;
      margin-left:20px;
    }

.footright {

    li img {
      height:5px;
      width:auto;
    }

    span {
      padding:0;
      margin:0;
    }
  }
}

/* General
============= */


