html {
  box-sizing: border-box; }

*,
*::after,
*::before {
  box-sizing: inherit; }

/* Global Styles
================ */
* {
  border-sizing: border-box; }

body {
  max-width: 1438px;
  margin-left: auto;
  margin-right: auto;
  background-color: #F2EAE4;
  width: 1438px;
  font-size: 62.5%; }

body::after {
  clear: both;
  content: "";
  display: table; }

a {
  text-decoration: none; }

a:hover {
  text-decoration: underline; }

.container {
  width: 95%;
  margin-left: auto;
  margin-right: auto; }

/* Header styles will start here
================================ */
header {
  background-color: #D9C5A0;
  border: 1px solid black;
  height: 300px; }

/* Nav styles
============= */
nav ul li {
  display: inline-block; }

/* Tabs and Jumbotron
============= */
.jumbotron {
  height: 500px;
  width: 100%;
  overflow: hidden;
  background-image: url("http://placehold.it/1438x500"); }

.home {
  width: 80%;
  margin-left: auto;
  margin-right: auto; }

/* Bottom
============= */
.bottom div {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 31.76157%;
  border: 1px solid black;
  height: 325px; }

.bottom div:last-child {
  margin-right: 0; }

.bottom .left {
  background-image: url("http://lorempixel.com/425/325"); }

.bottom .center {
  background-image: url("http://lorempixel.com/425/325"); }

.bottom .right {
  background-image: url("http://lorempixel.com/425/325"); }

/* Footer
============= */
footer {
  background-color: #D9C5A0;
  clear: both;
  height: 150px;
  border: 1px solid black;
  margin-top: 20px; }

/* General
============= */
section {
  visibility: hidden; }

.show {
  visibility: visible;
  transition: 1s all ease; }
