@import "vendor/bourbon/bourbon";
@import "vendor/neat/neat";

// Color Variables
$slate: #566573;
$latte: #D9C5A0;
$java: #BFAD8A;
$cream: #F2EAE4;
$mocha: #F2EAE4;


/* Global Styles
================ */
* {
  border-sizing: border-box;
}

body {
  @include outer-container(1438px);
  background-color: $cream;
  width: 1438px;
  font-size: 62.5%;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.container {
  width: 100%;
  margin: auto;
}

/* Header styles will start here
================================ */
header {
  background-color: $latte;
  height: 300px;
  width: 100%;

  .logo {
    height: 200px;
    padding-top: 60px;
    text-align: center;
  }

  img {
    height: 100%;
    }

}

/* Nav styles
============= */
nav {

  ul {
    li {
      display: inline-block;
    }
  }
}

/* Tabs and Jumbotron
============= */

.jumbotron {
  height: 500px;
  width:100%;
  overflow:hidden;
  background-image: url('http://placehold.it/1438x500');
}

.home {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

/* Bottom
============= */

.bottom {

 ul {
    @include span-columns(3);
    border: 1px solid black;
    height: 325px;
    width: 425px;
    overflow: auto;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
  }

  .left {
    // background-image: url('http://lorempixel.com/425/325');
    width:425px;
    font-family: Apple Chancery;
    font-size: 16px;
    text-align: center;

    .button {
    padding: 2px 0 0 0;
  }
  }

  .center {
   width:425px;
    overflow:hidden;
    font-family: Apple Chancery;
    font-size: 14px;
    border:1px black solid;
    text-align: center;

  }


  .right {
    width:425px;
    overflow:hidden;
    font-family: Apple Chancery;
    font-size: 14px;
    text-align: center;

  }
}


/* Footer
============= */

footer {
  background-color: $latte;
  clear: both;
  height: 150px;
  border: 1px solid black;
  margin-top:20px;

}

/* General
============= */

section {
  visibility: hidden;
}

// .show {
//   visibility: visible;
//   transition: 1s all ease;
// }
