html {
  box-sizing: border-box; }

*,
*::after,
*::before {
  box-sizing: inherit; }

/* Global Styles
================ */
* {
  border-sizing: border-box; }

body {
  max-width: 1438px;
  margin-left: auto;
  margin-right: auto;
  background-color: #F2EAE4;
  width: 1438px;
  font-size: 62.5%; }

body::after {
  clear: both;
  content: "";
  display: table; }

a {
  text-decoration: none; }

a:hover {
  text-decoration: underline; }

.container {
  width: 100%;
  margin: auto; }

/* Header styles will start here
================================ */
header {
  background-color: #D9C5A0;
  height: 300px;
  width: 100%; }

header .logo {
  height: 200px;
  padding-top: 60px;
  text-align: center; }

header img {
  height: 100%; }

/* Nav styles
============= */
nav ul li {
  display: inline-block; }

/* Tabs and Jumbotron
============= */
.jumbotron {
  height: 500px;
  width: 100%;
  overflow: hidden;
  background-image: url("http://placehold.it/1438x500"); }

.home {
  width: 80%;
  margin-left: auto;
  margin-right: auto; }

/* Bottom
============= */
.bottom ul {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 23.23176%;
  border: 1px solid black;
  height: 325px;
  width: 425px;
  overflow: auto;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px; }

.bottom ul:last-child {
  margin-right: 0; }

.bottom .left {
  width: 425px;
  font-family: Apple Chancery;
  font-size: 16px;
  text-align: center; }

.bottom .left .button {
  padding: 2px 0 0 0; }

.bottom .center {
  width: 425px;
  overflow: hidden;
  font-family: Apple Chancery;
  font-size: 14px;
  border: 1px black solid;
  text-align: center; }

.bottom .right {
  width: 425px;
  overflow: hidden;
  font-family: Apple Chancery;
  font-size: 14px;
  text-align: center; }

/* Footer
============= */
footer {
  background-color: #D9C5A0;
  clear: both;
  height: 150px;
  border: 1px solid black;
  margin-top: 20px; }

/* General
============= */
section {
  visibility: hidden; }
