@import "vendor/bourbon/bourbon";
@import "vendor/neat/neat";

// Color Variables
$slate: #566573;
$latte: #D9C5A0;
$java: #BFAD8A;
$cream: #F2EAE4;
$mocha: #F2EAE4;
$baby: #CAE9F1;

$contentFont:'Droid Serif', serif;
$navFont: 'Droid Sans', sans-serif;

@mixin fontStyle($family, $serif, $size, $color, $weight) {font-family: $family, $serif; font-size: $size; font-color: $color; font-weight: $weight;};

@mixin lineHeight() {
  line-height: 1.5em;
}

@mixin border-radius($borderadius) {
  -moz-border-radius: $borderadius;
  -webkit-border-radius: $borderadius;
  border-radius: $borderadius;
}

/* Global Styles
================ */

* {
  border-sizing: border-box;
  list-style: none;
}

body {
  @include outer-container(100%);
  max-width: 1438px;
  font-size: 62.5%;
  font-family: $contentFont;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.container {
  width: 100%;
  margin: auto;
}

button:focus {
  outline: 0;
}

input:focus {
  outline: 0;
}

select:focus {
  outline: 0;
}

/* Parallax styles here
======================= */
.parallax {
  perspective: 1px;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
}
.parallax_layer {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.parallax_layer-base {
  transform: translateZ(0);
}

.parallax_layer-back {
  transform: translateZ(-2px) scale(3);
}


/* Header styles will start here
================================ */
header {
  height: 200px;
  width: 100%;
  background-image: url('../images/header-back.png');

  .logo {
    height: 175px;
    padding-top: 40px;
    text-align: center;
  }

  img {
    height: 100%;
    }

}

/* Nav styles
============= */
nav {
  width: 100%;


  ul {
    @include fontStyle($navFont, sans-serif, 1.8em, black, 400);
    margin: 10px 0;
    text-align: center;
    padding-left: 0;

    li {
      display: inline-block;
      margin-right: 20px;
    }

    li:hover {
      cursor: pointer;
    }
  }
}

/* Tabs and Jumbotron
============= */

.jumbotron {
  width:100%;
  overflow: hidden;

  img {
    width: 100%;
  }
}

.jumbotronhide {
  height: 0;
}

/* Content section show and hide styles
============= */

section {
  height: 0;
  margin-left: auto;
  margin-right: auto;
  font-weight: normal;
  display: none;
  padding:50px;
}

.show {
  display: block;
  transition: 1s all ease;
  width: 100%;
  height: 100%;
  // margin-top: 50px;
}



/* Content section styles
============= */

section {
  background-color: rgba(255,255,255,0.85);


  h2 {
    font-size: 3em;
    text-align: center;
    font-family: $navFont;
  }

  h3 {
    font-size: 1.8em;
    display: inline-block;
    padding-right: 20px;
    float: left;
    border-right: 1px solid #ccc;
  }

  span {
    display: inline-block;
    float: left;
    font-size: 1.4em;
    margin-top: 1.5em;
    padding-left: 1.5em;
  }

  p {
      @include fontStyle($contentFont, serif, 1.8em, black, 400);
      padding: 20px;
      @include lineHeight;
  }

  .menuList {
    margin-bottom: 20px;
    margin-top: 50px;
    li {
      clear: both;
      p {
        @include lineHeight;
        clear: both;
        padding-left: 0;
        }
      }
    }
}

.main {
  width: 70%;
  margin: auto;
}

.allicons {
  display: inline-block;
  float: right;
  margin-top: 1em;
  margin-right: 8em;
}

.icon {
  display: inline-block;
  vertical-align: middle;
  position: relative;
    img {
      height:25px;
      width:25px;
    }
}

.iconhover {
  width: 200px;
  height: 115px;
  background-color: $baby;
  padding: 10px;
  padding-left: 15px;
  position: absolute;
  top: 40px;
  left: -20px;
  visibility: hidden;

  h6 {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 1.3em;
    font-weight: bold;
    font-family: $navFont;
  }

  span {
    font-size: 1em;
    margin-top: 0;
    margin-bottom: 10px;
  }
}

.allergyhover {

  .iconhover {
    visibility: visible;
  }

}


/* Reservations styles
============= */

section {

  form {
    font-size: 1.8em;
    display: block;
    padding: 50px;
    padding-top: 0px;

    input {
      display: block;
      margin: 15px;
      padding: 10px;
      border: 0;
      border: 1px solid #ccc;
      @include border-radius(5px);
      width: 100%;
    }

    #reserveBtn {
      background-color: $baby;
      border: none;
      height: 60px;
    }

    select {
      border: 0;
      display: block;
      margin: 15px;
      padding: 10px;
      height: 40px;
      width: 100%;
      background-color: white;
      border: 1px solid #ccc;
      // color: #A9A9A9;
    }

    h2 {
      font-size: 1.8em;
    }

  }

}

.reservations {
  border-bottom: 1px solid #ccc;
  box-shadow: 0px 1px 2px #ccc;
  margin-bottom: 50px;

  .thankyou {
    padding: 20px;
    text-align: center;
  }

  h2 {
    font-size: 3em;
    padding-top: 50px;
  }

  h4 {
    font-size: 3em;
  }

  p {
    font-size: 2em;
  }

  img {
    height: 12em;
    margin-top: 1.5em;
  }

}

/* Bottom of page styles
============= */

.bottom {
  background-color: $baby;
  margin-top:1px;
  font-size: 1.6em;
  overflow:hidden;

 ul {
    @include span-columns(4);
    background-color: $baby;
    padding: 0px;
    margin-bottom:0;
  }

  h3, h4 {
    margin-left:25px;
  }

  .left {

      p {
      display: block;
      display: -webkit-box;
      max-width: 100%;
      height: 43px;
      margin: 0 auto;
      font-size: 14px;
      line-height: 1;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
      overflow: hidden;
      margin:25px;
      width:90%;

    }
  }

  .center {
    overflow:hidden;
    font-size: 14px;

    span {
      float: right;
      // margin-top: 1.3em;
    }

    p {
      clear: both;
      margin:25px;
      width:90%;
    }
  }

  .right {
    overflow:hidden;
    margin:0;
    margin-bottom:0;
    font-size:0;
  }
}


/* Footer styles
============= */

footer {
  background-color: $baby;
  border-top:3px solid white;
  clear: both;
  height: 190px;
  margin-top:0;

    div {
      margin-top:30px;
      padding:0;
      @include span-columns(4);
      @include omega(3n);
    }

  ul {
    margin-left:20px;
    padding:0;
    line-height:20px;
    margin-right:10px;
  }
}

.footleft {
  text-align:center;
  overflow:hidden;

    ul {
      margin:0;
       padding:0;
    }

    img {
      width: 100px;
      height:auto;
      margin-botom:0;
    }

    span {
      padding:0;
      margin:0;
        img {
          height:25px;
          width:auto;
          padding:0;
          margin:0;
      }
    }
}

/* Gallery styles
============= */

.gallery {
  // @include outer-container;
  background-color: white;

  ul {
    margin-left: 0;
  li {
    @include span-columns(4);
    @include omega(3n);
    margin: 15px 0;
  }

  }

}

/* General
============= */

/* Allergy credit text, will be moved to html
============= */

// allergies by Ben Markoch from the Noun Project
// Love by Martha Ormiston from the Noun Project
// Vegetarian by Matthew Hawdon from the Noun Project
// Flame by Alex Tai from the Noun Project
